.item {
    display: inline-block;
    margin: 1em;
}

.full-width {
    width: 100%;
}

.item-setting {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: row;
}

