.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: initial;
  color: white;
  padding: 2%;
}

.Left-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.Right-header {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: initial;
}

.App-body {
  background-color: #282c34;
  display: flex;
  align-content: center;
  padding: 2em;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.like-color {
  fill: red;
  stroke: red;
  width: 1em;
  height: 1em;
}

.App-footer {
  background: #000000;
  color: #7e7e7e;
  align-content: start;
  align-items: initial;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  font-size: 0.8em;
}

.App-footer th {
  padding-right: 10px;
}

.App-footer a {
  display: flex;
  color: #7e7e7e;
  text-decoration-line: none;
}

.img-style {
  margin-left: 3px;
  height: 15px;
  text-align: center;
  horiz-align: center;
}